nav {
  background-color: purple;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 10px 25px;

    a {
      color: white;
    }
  }

  h2 a {
    color: white;
    margin: 10px 25px;
  }
}

.home {
  border-right-style: solid;
  border-width: 1px;
  padding-right: 10px;
}
